<!-- ---
const { pelicula } = Astro.props;
---
<section class="min-h-[90vh] text-textPrimario">
    <h2 class="text-5xl font-bold">Populares</h2>

    {pelicula.map(pelicula=>
        <ul>
            <li>{pelicula.title}</li>
        </ul>
         
    )}
</section> -->